@mixin gallery-image() {
    width: auto;
    object-fit: cover;
    max-height: 200px;
    max-width: 100%;
    
    border-radius: 5px;
}
@mixin gallery-layout {
    justify-content: flex-end;
    margin-bottom: 10px;
}

.gallery{
    @include gallery-layout();
}
.gallery1{
    @include gallery-layout();
}
.gallery > img{   
    @include gallery-image();
} 
.gallery1 > img{   
    @include gallery-image();
} 
.grid-wrap{
    padding-top: 60px;
    padding-bottom: 60px;
}
.gap-2 {
    gap: 10px !important;
}
.grid-img {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
   
    z-index: 1;	
}
.sec-row{
    width: calc(100% - 170px);
    margin-bottom: 0px;
    padding: 0;
}

