.grid-wrap .text-box{
    width: 301px;
    padding: 0;
}
.grid-wrap .text-box p{
    display: flex;
    align-items: center;
    
    margin: 20px 0 0;
    width: 300.93px;
    height: 156px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;

    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: -0.2px;
    
    color: #484A4C;
}
.grid-wrap .text-box h3{
    display: flex;
    align-items: flex-end;
    width: 300.93px;
    height: 120px;
    font-size: 32px;
    line-height: 37px;
        
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    letter-spacing: -0.2px;
    
    color: #134880;
}